body {
    min-width: 200px;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

input,
textarea {
    width: 420px;
}

input#save {
    font-weight: bold;
    width: auto;
}

.head {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(224, 75, 167);
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.text {
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

hr {
    opacity: 0.2;
}

.end {
    text-align: center;
    position: sticky;
}

a:link,
a:visited {
    color: rgb(219, 139, 189);
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    color: rgb(117, 59, 134);
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(207, 166, 219);
    border-radius: 10px;
}

.button {
    background-color: white;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.beatmapset-header {
    height: 70px;
}